<div id="tasks"></div>

<script type="text/javascript">
    $(function() {
        var tasks = new TodoBackbone.Collections.TasksCollection();
        tasks.reset(<%= @tasks.to_json.html_safe -%>);

        view = new TodoBackbone.Views.Tasks.IndexView({collection: tasks});
        $("#tasks").html(view.render().el);
    });
</script>
